<div class="passengerFields">
<label for="passengerName">Name</label>
<InputText id="passengerName" @bind-Value="@Passenger.Name" class="form-control"></InputText>
<label for="passengerSurname">Surname</label>
<InputText id="passengerSurname" @bind-Value="@Passenger.Surname" class="form-control"></InputText>
<label for="passengerGender">Gender</label>
<InputText id="passengerGender" @bind-Value="@Passenger.Gender" class="form-control"></InputText>
</div>
@code {
[Parameter]
public Passenger Passenger { get; set; }
}
